:root {
  --color-muted-foreground-100: #80b080;
  --color-muted-40: #cce0cc;
  --color-muted-50: #f5f9f5;
  --color-muted-80: #b3d0b3;
  --color-muted-90: #cce0cc;
  --color-muted-100: #e6f0e6;
  --color-primary-10: #e6f0e6;
  --color-primary-20: #cce0cc;
  --color-primary-50: #80b080;
  --color-primary-80: #4d804d;
  --color-primary-90: #336633;
  --color-primary-100: #1a331a;
  --color-primary-foreground-100: #f5f9f5;
  --color-accent-50: #fda4af;
  --color-accent-80: #be123c;
  --color-accent-90: #e11d48;
  --color-accent-100: #f43f5e;
  --color-accent-foreground-100: #18181b;
  --color-destructive-50: #fca5a5;
  --color-destructive-80: #b91c1c;
  --color-destructive-90: #dc2626;
  --color-destructive-100: #ef4444;
  --color-destructive-foreground-100: #09090b;
  --color-secondary-80: #94a3b8;
  --color-secondary-90: #cbd5e1;
  --color-secondary-100: #e2e8f0;
  --color-secondary-foreground-100: #18181b;
  --color-background-80: #f4f4f5;
  --color-background-90: #fafafa;
  --color-background-100: #ffffff;
  --color-input-100: #e4e4e7;
  --color-popover-foreground-100: #09090b;
  --color-popover-100: #ffffff;
  --color-border-100: #e4e4e7;
  --color-ring-100: #a1a1aa;
  --color-foreground-100: #09090b;
  --color-card-100: #ffffff;
  --color-card-foreground-100: #09090b;
  --mint-cream-mint-cream-50: #f5f9f5;
  --mint-cream-mint-cream-100: #e6f0e6;
  --mint-cream-mint-cream-200: #cce0cc;
  --mint-cream-mint-cream-300: #b3d0b3;
  --mint-cream-mint-cream-400: #99c099;
  --mint-cream-mint-cream-500: #80b080;
  --mint-cream-mint-cream-600: #669966;
  --mint-cream-mint-cream-700: #4d804d;
  --mint-cream-mint-cream-800: #336633;
  --mint-cream-mint-cream-900: #1a331a;
  --rose-rose-50: #fff1f2;
  --rose-rose-100: #ffe4e6;
  --rose-rose-200: #fecdd3;
  --rose-rose-300: #fda4af;
  --rose-rose-400: #fb7185;
  --rose-rose-500: #f43f5e;
  --rose-rose-600: #e11d48;
  --rose-rose-700: #be123c;
  --rose-rose-800: #9f1239;
  --rose-rose-900: #881337;
  --zinc-zinc-50: #fafafa;
  --zinc-zinc-100: #f4f4f5;
  --zinc-zinc-200: #e4e4e7;
  --zinc-zinc-300: #d4d4d8;
  --zinc-zinc-400: #a1a1aa;
  --zinc-zinc-500: #71717a;
  --zinc-zinc-600: #52525b;
  --zinc-zinc-700: #3f3f46;
  --zinc-zinc-800: #27272a;
  --zinc-zinc-900: #18181b;
  --zinc-zinc-950: #09090b;
  --slate-slate-50: #f8fafc;
  --slate-slate-100: #f1f5f9;
  --slate-slate-200: #e2e8f0;
  --slate-slate-300: #cbd5e1;
  --slate-slate-400: #94a3b8;
  --slate-slate-500: #64748b;
  --slate-slate-600: #475569;
  --slate-slate-700: #334155;
  --slate-slate-800: #1e293b;
  --slate-slate-900: #0f172a;
  --red-red-50: #fef2f2;
  --red-red-100: #fee2e2;
  --red-red-200: #fecaca;
  --red-red-300: #fca5a5;
  --red-red-400: #f87171;
  --red-red-500: #ef4444;
  --red-red-600: #dc2626;
  --red-red-700: #b91c1c;
  --red-red-800: #991b1b;
  --red-red-900: #7f1d1d;
  --neutral-neutral-50: #fafafa;
  --neutral-neutral-100: #f5f5f5;
  --neutral-neutral-200: #e5e5e5;
  --neutral-neutral-300: #d4d4d4;
  --neutral-neutral-400: #a3a3a3;
  --neutral-neutral-500: #737373;
  --neutral-neutral-600: #525252;
  --neutral-neutral-700: #404040;
  --neutral-neutral-800: #262626;
  --neutral-neutral-900: #171717;
  --base-white: #ffffff;
  --base-black: #000000;
  --green-green-50: #f0fdf4;
  --green-green-100: #dcfce7;
  --green-green-200: #bbf7d0;
  --green-green-300: #86efac;
  --green-green-400: #4ade80;
  --green-green-500: #22c55e;
  --green-green-600: #16a34a;
  --green-green-700: #15803d;
  --green-green-800: #166534;
  --green-green-900: #14532d;
  --tokens-default-radius-rounded-sm: 2px;
  --tokens-default-radius-rounded-md: 6px;
  --tokens-default-radius-rounded-lg: 8px;
  --tokens-default-radius-rounded-full: 9999px;
  --tokens-default-radius-rounded-xl: 12px;
  --tokens-default-text-text-muted-foreground: #80b080;
  --tokens-default-text-text-muted: #e6f0e6;
  --tokens-default-text-text-primary: #1a331a;
  --tokens-default-text-text-primary-foreground: #f5f9f5;
  --tokens-default-text-text-accent: #f43f5e;
  --tokens-default-text-text-accent-foreground: #18181b;
  --tokens-default-text-text-destructive: #ef4444;
  --tokens-default-text-text-destructive-foreground: #09090b;
  --tokens-default-text-text-secondary: #e2e8f0;
  --tokens-default-text-text-secondary-foreground: #18181b;
  --tokens-default-text-text-popover-foreground: #09090b;
  --tokens-default-text-text-confirm: #16a34a;
  --tokens-default-background-bg-primary: #1a331a;
  --tokens-default-background-bg-background: #ffffff;
  --tokens-default-background-bg-secondary: #e2e8f0;
  --tokens-default-background-bg-destructive: #ef4444;
  --tokens-default-background-bg-accent: #f43f5e;
  --tokens-default-background-bg-muted: #e6f0e6;
  --tokens-default-background-bg-background-90: #fafafa;
  --tokens-default-background-bg-background-80: #f4f4f5;
  --tokens-default-background-bg-primary-90: #336633;
  --tokens-default-background-bg-primary-80: #4d804d;
  --tokens-default-background-bg-secondary-90: #cbd5e1;
  --tokens-default-background-bg-secondary-80: #94a3b8;
  --tokens-default-background-bg-destructive-90: #dc2626;
  --tokens-default-background-bg-destructive-80: #b91c1c;
  --tokens-default-background-bg-accent-90: #e11d48;
  --tokens-default-background-bg-accent-80: #be123c;
  --tokens-default-background-bg-muted-90: #cce0cc;
  --tokens-default-background-bg-muted-80: #b3d0b3;
  --tokens-default-background-bg-popover: #ffffff;
  --tokens-default-background-bg-muted-50: #f5f9f5;
  --tokens-default-background-bg-accent-50: #fda4af;
  --tokens-default-background-bg-primary-20: #cce0cc;
  --tokens-default-background-bg-primary-10: #e6f0e6;
  --tokens-default-border-border-input: #e4e4e7;
  --tokens-default-border-border-primary: #1a331a;
  --tokens-default-border-border-destructive: #fca5a5;
  --tokens-default-border-border-toast-destructive: #cce0cc;
  --tokens-default-border-border-primary-50: #80b080;
  --tokens-default-border-border-muted: #e6f0e6;
  --primitives-light-color-muted-foreground-80: rgba(112, 118, 115, 0.8);
  --primitives-light-color-muted-foreground-90: rgba(112, 118, 115, 0.9);
  --primitives-light-color-muted-foreground-100: #f5f9f5;
  --primitives-light-color-muted-40: rgba(211, 217, 214, 0.4);
  --primitives-light-color-muted-50: rgba(211, 217, 214, 0.5);
  --primitives-light-color-muted-80: rgba(211, 217, 214, 0.8);
  --primitives-light-color-muted-90: rgba(211, 217, 214, 0.9);
  --primitives-light-color-muted-100: #e6f0e6;
  --primitives-light-color-primary-10: rgba(28, 32, 31, 0.1);
  --primitives-light-color-primary-20: rgba(28, 32, 31, 0.2);
  --primitives-light-color-primary-50: rgba(28, 32, 31, 0.5);
  --primitives-light-color-primary-80: rgba(28, 32, 31, 0.8);
  --primitives-light-color-primary-90: rgba(28, 32, 31, 0.9);
  --primitives-light-color-primary-100: #1a331a;
  --primitives-light-color-primary-foreground-80: rgba(229, 236, 233, 0.8);
  --primitives-light-color-primary-foreground-90: rgba(229, 236, 233, 0.9);
  --primitives-light-color-primary-foreground-100: #f5f9f5;
  --primitives-light-color-accent-50: rgba(244, 63, 94, 0.5);
  --primitives-light-color-accent-80: rgba(244, 63, 94, 0.8);
  --primitives-light-color-accent-90: rgba(244, 63, 94, 0.9);
  --primitives-light-color-accent-100: #f43f5e;
  --primitives-light-color-accent-foreground-80: rgba(24, 24, 27, 0.8);
  --primitives-light-color-accent-foreground-90: rgba(24, 24, 27, 0.9);
  --primitives-light-color-accent-foreground-100: #18181b;
  --primitives-light-color-destructive-50: rgba(239, 68, 68, 0.5);
  --primitives-light-color-destructive-80: rgba(239, 68, 68, 0.8);
  --primitives-light-color-destructive-90: rgba(239, 68, 68, 0.9);
  --primitives-light-color-destructive-100: #ef4444;
  --primitives-light-color-destructive-foreground-80: rgba(9, 9, 11, 0.8);
  --primitives-light-color-destructive-foreground-90: rgba(9, 9, 11, 0.9);
  --primitives-light-color-destructive-foreground-100: #09090b;
  --primitives-light-color-secondary-80: rgba(226, 232, 240, 0.8);
  --primitives-light-color-secondary-90: rgba(226, 232, 240, 0.9);
  --primitives-light-color-secondary-100: #e2e8f0;
  --primitives-light-color-secondary-foreground-80: rgba(24, 24, 27, 0.8);
  --primitives-light-color-secondary-foreground-90: rgba(24, 24, 27, 0.9);
  --primitives-light-color-secondary-foreground-100: #18181b;
  --primitives-light-color-background-80: rgba(255, 255, 255, 0.8);
  --primitives-light-color-background-90: rgba(255, 255, 255, 0.9);
  --primitives-light-color-background-100: #ffffff;
  --primitives-light-color-input-80: rgba(228, 228, 231, 0.8);
  --primitives-light-color-input-90: rgba(228, 228, 231, 0.9);
  --primitives-light-color-input-100: #e4e4e7;
  --primitives-light-color-popover-foreground-80: rgba(9, 9, 11, 0.8);
  --primitives-light-color-popover-foreground-90: rgba(9, 9, 11, 0.9);
  --primitives-light-color-popover-foreground-100: #09090b;
  --primitives-light-color-popover-80: rgba(255, 255, 255, 0.8);
  --primitives-light-color-popover-90: rgba(255, 255, 255, 0.9);
  --primitives-light-color-popover-100: #ffffff;
  --primitives-light-color-border-80: rgba(228, 228, 231, 0.8);
  --primitives-light-color-border-90: rgba(228, 228, 231, 0.9);
  --primitives-light-color-border-100: #e4e4e7;
  --primitives-light-color-ring-80: rgba(161, 161, 170, 0.8);
  --primitives-light-color-ring-90: rgba(161, 161, 170, 0.9);
  --primitives-light-color-ring-100: #a1a1aa;
  --primitives-light-color-foreground-50: rgba(9, 9, 11, 0.5);
  --primitives-light-color-foreground-80: rgba(9, 9, 11, 0.8);
  --primitives-light-color-foreground-90: rgba(9, 9, 11, 0.9);
  --primitives-light-color-foreground-100: #09090b;
  --primitives-light-color-card-80: rgba(255, 255, 255, 0.8);
  --primitives-light-color-card-90: rgba(255, 255, 255, 0.9);
  --primitives-light-color-card-100: #ffffff;
  --primitives-light-color-card-foreground-80: rgba(9, 9, 11, 0.8);
  --primitives-light-color-card-foreground-90: rgba(9, 9, 11, 0.9);
  --primitives-light-color-card-foreground-100: #09090b;
  --primitives-dark-color-muted-foreground-80: rgba(160, 166, 164, 0.8);
  --primitives-dark-color-muted-foreground-90: rgba(160, 166, 164, 0.9);
  --primitives-dark-color-muted-foreground-100: #b3d0b3;
  --primitives-dark-color-muted-40: rgba(28, 32, 31, 0.4);
  --primitives-dark-color-muted-50: rgba(28, 32, 31, 0.5);
  --primitives-dark-color-muted-80: rgba(28, 32, 31, 0.8);
  --primitives-dark-color-muted-90: rgba(28, 32, 31, 0.9);
  --primitives-dark-color-muted-100: #1a331a;
  --primitives-dark-color-primary-10: rgba(229, 236, 233, 0.1);
  --primitives-dark-color-primary-20: rgba(229, 236, 233, 0.2);
  --primitives-dark-color-primary-50: rgba(229, 236, 233, 0.5);
  --primitives-dark-color-primary-80: rgba(229, 236, 233, 0.8);
  --primitives-dark-color-primary-90: rgba(229, 236, 233, 0.9);
  --primitives-dark-color-primary-100: #f5f9f5;
  --primitives-dark-color-primary-foreground-80: rgba(28, 32, 31, 0.8);
  --primitives-dark-color-primary-foreground-90: rgba(28, 32, 31, 0.9);
  --primitives-dark-color-primary-foreground-100: #1a331a;
  --primitives-dark-color-accent-50: rgba(244, 63, 94, 0.5);
  --primitives-dark-color-accent-80: rgba(244, 63, 94, 0.8);
  --primitives-dark-color-accent-90: rgba(244, 63, 94, 0.9);
  --primitives-dark-color-accent-100: #f43f5e;
  --primitives-dark-color-accent-foreground-80: rgba(250, 250, 250, 0.8);
  --primitives-dark-color-accent-foreground-90: rgba(250, 250, 250, 0.9);
  --primitives-dark-color-accent-foreground-100: #fafafa;
  --primitives-dark-color-destructive-50: rgba(239, 68, 68, 0.5);
  --primitives-dark-color-destructive-80: rgba(239, 68, 68, 0.8);
  --primitives-dark-color-destructive-90: rgba(239, 68, 68, 0.9);
  --primitives-dark-color-destructive-100: #ef4444;
  --primitives-dark-color-destructive-foreground-80: rgba(254, 242, 242, 0.8);
  --primitives-dark-color-destructive-foreground-90: rgba(254, 242, 242, 0.9);
  --primitives-dark-color-destructive-foreground-100: #fff1f2;
  --primitives-dark-color-secondary-80: rgba(30, 41, 59, 0.8);
  --primitives-dark-color-secondary-90: rgba(30, 41, 59, 0.9);
  --primitives-dark-color-secondary-100: #1e293b;
  --primitives-dark-color-secondary-foreground-80: rgba(250, 250, 250, 0.8);
  --primitives-dark-color-secondary-foreground-90: rgba(250, 250, 250, 0.9);
  --primitives-dark-color-secondary-foreground-100: #fafafa;
  --primitives-dark-color-background-80: rgba(9, 9, 11, 0.8);
  --primitives-dark-color-background-90: rgba(9, 9, 11, 0.9);
  --primitives-dark-color-background-100: #09090b;
  --primitives-dark-color-input-80: rgba(39, 39, 42, 0.8);
  --primitives-dark-color-input-90: rgba(39, 39, 42, 0.9);
  --primitives-dark-color-input-100: #27272a;
  --primitives-dark-color-popover-foreground-80: rgba(250, 250, 250, 0.8);
  --primitives-dark-color-popover-foreground-90: rgba(250, 250, 250, 0.9);
  --primitives-dark-color-popover-foreground-100: #fafafa;
  --primitives-dark-color-popover-80: rgba(9, 9, 11, 0.8);
  --primitives-dark-color-popover-90: rgba(9, 9, 11, 0.9);
  --primitives-dark-color-popover-100: #09090b;
  --primitives-dark-color-border-80: rgba(39, 39, 42, 0.8);
  --primitives-dark-color-border-90: rgba(39, 39, 42, 0.9);
  --primitives-dark-color-border-100: #27272a;
  --primitives-dark-color-ring-80: rgba(39, 39, 42, 0.8);
  --primitives-dark-color-ring-90: rgba(39, 39, 42, 0.9);
  --primitives-dark-color-ring-100: #27272a;
  --primitives-dark-color-foreground-50: rgba(250, 250, 250, 0.5);
  --primitives-dark-color-foreground-80: rgba(250, 250, 250, 0.8);
  --primitives-dark-color-foreground-90: rgba(250, 250, 250, 0.9);
  --primitives-dark-color-foreground-100: #fafafa;
  --primitives-dark-color-card-80: rgba(9, 9, 11, 0.8);
  --primitives-dark-color-card-90: rgba(9, 9, 11, 0.9);
  --primitives-dark-color-card-100: #09090b;
  --primitives-dark-color-card-foreground-80: rgba(250, 250, 250, 0.8);
  --primitives-dark-color-card-foreground-90: rgba(250, 250, 250, 0.9);
  --primitives-dark-color-card-foreground-100: #fafafa;
  --trice-design-colors-mode-1-mint-cream-mint-cream-900: #1c201f;
  --trice-design-colors-mode-1-mint-cream-mint-cream-800: #2f3432;
  --trice-design-colors-mode-1-mint-cream-mint-cream-700: #444947;
  --trice-design-colors-mode-1-mint-cream-mint-cream-600: #595f5d;
  --trice-design-colors-mode-1-mint-cream-mint-cream-500: #707673;
  --trice-design-colors-mode-1-mint-cream-mint-cream-400: #888e8b;
  --trice-design-colors-mode-1-mint-cream-mint-cream-300: #a0a6a4;
  --trice-design-colors-mode-1-mint-cream-mint-cream-200: #b9bfbd;
  --trice-design-colors-mode-1-mint-cream-mint-cream-100: #d3d9d6;
  --trice-design-colors-mode-1-mint-cream-mint-cream-50-s: #e5ece9;
}
